{% extends 'index.html' %}


{% block content %}

<div class="container mt-4">

    <div class="p-4 m-4">


        <div class="col-lg-5 rounded mx-auto border pt-4">
            <div class="text-center col">

                <img
                src="https://upload.wikimedia.org/wikipedia/commons/thumb/c/c8/Shopping_cart_with_food_clip_art_2.svg/307px-Shopping_cart_with_food_clip_art_2.svg.png" alt=""
                class="" style="height: 150px;">
            <!-- <hr> -->
                <div> <h3 class="alert alert-success border bounded">Therapist Working Hours</h3></div>
            <hr>
            </div>
            <h3 hidden class="alert alert-light border rounded">Therapist Issue</h3>
            <form action="/therapistwork" method="POST">

                {% csrf_token %}
                {% if error %}
                <div class="alert alert-danger" role="alert">
                    {{error}}
                </div>
                {% endif %}

                                <!-- firstname -->


                <!-- last name -->


                <!-- phone -->

                <!-- email -->
                <div class="form-group">
                    <label >Start Time</label>
                   <input type="text" name="starttime" placeholder="hrs:mins" )>
                </div>


                <!-- password -->
                <div class="form-group">
                    <label >End Time</label>
                   <input type="text" name="endtime" placeholder="hrs:mins" >
                </div>

                  <div class="form-group">
                    <label >Rate</label>
                    <input required type="text" name="rate"
                    value=""
                    class=" form-control-sm form-control" >
                </div>

                <hr>
                <div class="form-group">
                    <a href="/therapistspecial"><input class="btn btn-sm btn-info" type="submit" value="SUBMIT"></a>
                </div>


            </form>
        </div>
    </div>
</div>

{% endblock %}